@import "@phosphor-icons/web/duotone";
@import 'tailwindcss';

body {
  background: #000;
}

@theme {
  --font-display: 'Anton', sans-serif;
  --font-sans: 'Inter Tight', sans-serif;
  --font-mono: 'courier Prime', monospace;
}
